:root {
    --theme-color: $dashboard-main-color;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: $primary-bg-color;
    font-family: $main-font;
    color: $primary-font-color;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    cursor: pointer;
    color: #428bca;
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}

p {
    margin-top: 0;
    margin-bottom: .9em;
}

.page-wrapper {
    height: 100%;
    width: 100%;
}

.dashboard-theme {
    --theme-color: $dashboard-main-color;
}

.customer-theme {
    --theme-color: $customer-main-color;
}
