@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-Roman.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: oblique;
    font-weight: 900;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-BlackOblique.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: oblique;
    font-weight: 400;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-BookOblique.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: oblique;
    font-weight: 800;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-HeavyOblique.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: oblique;
    font-weight: 300;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-LightOblique.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: oblique;
    font-weight: 600;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-MediumOblique.woff') format('woff');
}

@font-face {
    font-family: 'Avenir';
    font-style: oblique;
    font-weight: 500;
    src: url('../../fonts/avenir-lt-std/AvenirLTStd-Oblique.woff') format('woff');
}
