.alert {
    color: #fff;
    width: 100%;
    height: 40px;
    line-height: 40px;

    &:not(.no-gutter) {
        margin-bottom: $main-gutter;
    }

    &-type {
        padding: 0 20px;
        border-right: 1px solid #1dc859;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
    }

    &-content {
        @include ellipsis;
        flex: 1;
        padding: 0 20px;
        font-weight: 500;
    }

    &-close {
        width: 40px;
        height: 100%;
        border-left: 1px solid #1dc859;
    }

    &-more-link {
        color: inherit;
        text-decoration: underline;
        font-size: 12px;
        font-weight: 800;
        margin: 0 15px;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    &-dismissable .close {
        color: $alert-close-color;
        font-weight: 600;
        font-size: 18px;
        background: none;
        padding: 0;
        opacity: 1;
        border: none;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            opacity: .9;
        }
    }

    &-success {
        background-color: $alert-success;
    }
}
