.box {
    background-color: $box-bg-color;
    box-shadow: $main-shadow;
    padding: 0 20px;
    line-height: normal;

    &-heading {
        @include ellipsis;
        color: var(--theme-color);
        font-size: 12px;
        text-transform: uppercase;
        padding: 12px 0;
        font-weight: 800;
        border-bottom: 1px solid $table-border-color;
    }

    &-body {
        &-field {
            padding: 11px 0;
            border-bottom: 1px solid $table-border-color;

            @include last-child() {
                border-bottom: none;
            }
        }
    }

    &-filters-section {
        padding: 10px 0;
        border-bottom: 1px solid $table-border-color;

        a {
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .15s linear;
            font-weight: 800;
            color: #b2b9be;
            display: inline-block;
            line-height: 12px;
            margin-left: 30px;

            @include first-child() {
                margin-left: 0;
            }


            &:hover,
            &.active {
                color: var(--theme-color);
            }
        }
    }
}
