.breadcrumbs {
    &-item {
        &:not(:last-child) {

            &:after {
                margin-left: 10px;
                content: '/';
            }
        }

        @include all-but(1) {
            margin-left: 10px;
        }
    }

    a {
        color: inherit;
    }
}
