.btn {
    color: var(--theme-color);
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: $main-shadow;
    padding: .8em 1.25em;
    font-weight: 900;
    margin: 0;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 0;
    background-color: $button-bg-color;
    transition: all .2s linear;

    &:hover,
    &:active,
    &.active {
        color: $button-active-font-color;
        background-color: var(--theme-color);
        outline: none;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    + .btn {
        margin-left: $main-gutter;
    }
}

