.collapse {
    font-size: 16px;

    &-content {
        margin: 0;
        font-weight: 500;
        padding: 0 0 0 40px;

        li {
            list-style-type: none;
            margin-top: 5px;

            a {
                color: inherit;
            }
        }
    }

    &-title {
        font-weight: 900;
        text-transform: uppercase;
    }

    &-action-field {
        cursor: pointer;
    }

    &-icon-wrapper {
        width: 40px;
        font-size: 22px;
    }

    &-toggle-icon {
        margin-left: auto;
    }

    &.dashboard-menu {
        .collapse-action-field {
            color: $dashboard-main-color;
        }
    }

    &.customer-menu {
        .collapse-action-field {
            color: $customer-main-color;
        }
    }

    &.expanded {
        .collapse-toggle-icon {
            transform: rotate(90deg);
        }
    }
}
