.flag {
    display: inline-block;
    height: .75em;
    width: .75em;
    border-radius: 100%;

    &-danger {
        background-color: #e73a46;
    }

    &-success {
        background-color: #21e265;
    }

    &-default {
        background-color: #b2b9be;
    }
}
