$bar-height: $hamburger-size / 8;
$bar-offset: $bar-height * 2;

@mixin bar {
    display: block;
    width: $hamburger-size;
    height: $bar-height;
    background: $hamburger-color;
    border-radius: 2px;
}

.menu-toggle {
    position: relative;
    display: block;
    margin: auto;
    height: ($bar-offset*2) + $bar-height;
    width: $hamburger-size;
    cursor: pointer;

    .bars {
        @include bar;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -($bar-height/2);
        transition: all .2s linear;

        &:before,
        &:after {
            @include bar;
            content: "";
            position: absolute;
            transition: .2s linear;
        }

        &:before {
            top: -$bar-offset;
        }

        &:after {
            bottom: -$bar-offset;
        }
    }
}

.active {
    .bars {
        background-color: transparent;
        transition: all .2s linear;

        &:before {
            top: 0;
            transform: rotate(45deg);
        }

        &:after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}
