.nav-links {
    .nav-link {
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .15s linear;
        font-weight: 800;
        color: #b2b9be;
        display: inline-block;
        line-height: 12px;
        margin: 10px 0 10px 30px;

        @include first-child() {
            margin-left: 0;
        }

        &-end {
            margin-left: auto;
        }

        &:hover,
        &.active {
            color: var(--theme-color);
        }
    }
}
