@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
}

.progress-pie-chart {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background-color: $primary-bg-color;
    position: relative;
    
    &.gt-50 {
        background-color: #21e265;
    }
}

.ppc-progress {
    @include circle($circle-size);
    clip: rect(0, $circle-size, $circle-size, #{$circle-size/2});
    
    .ppc-progress-fill {
        @include circle($circle-size);
        clip: rect(0, #{$circle-size/2}, $circle-size, 0);
        background: #21e265;
        transform: rotate(60deg);
    }
    
    .gt-50 & {
        clip: rect(0, #{$circle-size/2}, $circle-size, 0);
        
        .ppc-progress-fill {
            clip: rect(0, $circle-size, $circle-size, #{$circle-size/2});
            background: $primary-bg-color;
        }
    }
}

.ppc-percents {
    @include circle(#{$circle-size/1.15});
    background-color: $secondary-bg-color;
    position: relative;
    
    span {
        font-size: 38px;
        font-weight: 800;
        color: #21e265;
    }
}

.pcc-percents-wrapper {
    position: absolute;
    left: 12px;
    bottom: 12px;
    top: 12px;
    right: 12px;
    border-radius: 100%;
    background-color: #c7f8d8;
}

.box-body-field {
    .progress-pie-chart {
        margin: 15px 0;
    }
}
