.search-line {
    height: 40px;

    form {
        height: 100%;
        width: 100%;
    }

    input,
    .btn {
        height: 100%;
    }

    .btn {
        background-color: #21e265;
        text-align: center;
        text-transform: none;
        color: #fff;
        border-radius: 20px;
        width: 128px;
        font-size: 14px;
        flex-shrink: 0;

        &:hover,
        &:active {
            background-color: darken(#21e265, 10%);
        }

        i {
            margin-right: 5px;
        }
    }
}
