.timeline {
    &-section {
        &-title {
            color: var(--theme-color);
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 20px 0 20px 100px;
        }

        &:not(:last-child) {
            .timeline-content {
                border-bottom: 1px solid $table-border-color;
            }
        }
    }

    &-entry {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        padding-left: 100px;

        @include all-but(1) {
            &:before {
                content: '';
                top: 0;
                background-color: var(--theme-color);
                height: 25px;
                width: 2px;
                position: absolute;
                left: 69px;
            }
        }


        &:after {
            content: '';
            top: 24px;
            background-color: var(--theme-color);
            bottom: 0;
            width: 2px;
            position: absolute;
            left: 69px;
        }

        @include last-child() {
            &:after {
                display: none;
            }
        }
    }

    &-mark {
        position: absolute;
        width: 10px;
        top: 23px;
        left: 65px;
        height: 10px;
        border-radius: 100%;
        background-color: var(--theme-color);
    }

    &-time {
        position: absolute;
        left: 0;
        top: 20px;
        font-weight: 800;
        width: 65px;
    }

    &-content {
        padding-top: 19px;
        padding-bottom: 16px;
        border-top: 1px solid $table-border-color;

        &-title {
            font-weight: 900;
            margin-bottom: 9px;
        }

        &-desc {
            font-weight: 500;
            color: #333;
        }
    }
}
