.widget {
    &-mark {
        width: 21px;
        height: 21px;
        position: relative;
        background-color: $primary-bg-color;
        border-radius: 100%;

        &:after {
            content: '';
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-color: currentColor;
        }

        + .widget-label {
            margin-left: 24px;
        }
    }

    &-label {
        @include ellipsis;
        font-weight: 500;
        color: $primary-font-color;
        flex: 1;
    }

    &-meta {
        font-weight: 800;
    }

    &-field {
        cursor: pointer;

        &-success {
            color: #21e265;
        }

        &-warning {
            color: #ffb818;
        }

        &-danger {
            color: #e73a46;
        }

        &-disabled {
            cursor: default;

            .widget-mark {
                &:after {
                    display: none;
                }
            }

            .widget-label {
                color: #b2b9be;
                cursor: default;
            }
        }

        &.active {
            .widget-label {
                font-weight: 800;
            }
        }
    }

    .box-body-field {
        padding-top: 9px;
        padding-bottom: 9px;
    }
}
