input {
    box-shadow: none;
    background-image: none;
}

select {
    &.form-control {
        padding-left: calc(1em - 3px);
        padding-top: 0;
        padding-bottom: 0;
    }
}

textarea {
    &.form-control {
        height: auto;
    }

    &.no-resize {
        resize: none;
    }
}

.search-field-container {
    position: relative;
}

.form-control {
    font-family: inherit;
    border: none;
    color: inherit;
    background-color: #fff;
    background-image: none;
    font-size: inherit;
    display: block;
    width: 100%;
    height: 2.85em;
    padding: 0 1.25em;
    border-radius: 4px;

    &:focus {
        box-shadow: none;
        outline: 0;
    }

    &:-ms-input-placeholder {
        color: $form-placeholder-font-color;
        font-weight: 500;
    }
    &::-moz-placeholder {
        color: $form-placeholder-font-color;
        font-weight: 500;
    }
    &::-webkit-input-placeholder {
        color: $form-placeholder-font-color;
        font-weight: 500;
    }

    &[type="search"],
    &[type="text"] {
        border-radius: 2.85em;
    }

    &[type="search"] {
        padding-left: 2.7em;

        &:-ms-input-placeholder {
            text-indent: 15px;
            font-weight: 800;
        }
        &::-moz-placeholder {
            text-indent: 15px;
            font-weight: 800;
        }
        &::-webkit-input-placeholder {
            text-indent: 15px;
            font-weight: 800;
        }

        + .search-icon {
            position: absolute;
            top: 0;
            bottom: 1px;
            color: $form-placeholder-font-color;
            font-size: 1em;
            left: 1.1em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }

    &-lg {
        font-size: 16px;
    }

    &-xs {
        font-size: 12px;
        height: 2.5em;
    }

    &-invert {
        background-color: $primary-bg-color;
    }
}
