.page-header {
    background-color: var(--theme-color);
    height: $site-header-height;
    padding: 0 20px;
    color: $secondary-bg-color;
    box-shadow: $main-shadow;
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 900;

    &,
    &[data-grid^="none"] {
        margin-bottom: $main-gutter;
    }

    .user-menu-btn {
        margin-left: 20px;
        position: relative;
    }

    .flag {
        font-size: 12px;
        position: absolute;
        pointer-events: none;
        top: -4px;
        right: -4px;
    }
}
