.site-main-section {
    width: calc(100% - #{$sidebar-width});
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-content {
    width: 100%;
    height: 100%;
    padding-left: $main-gutter;
}
