.site-sidebar {
    width: $sidebar-width;
    height: 100vh;
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: $secondary-bg-color;
    box-shadow: $main-shadow;

    .site-sidebar-footer {
        margin-top: auto;
    }

    .sidebar-footer-links {
        padding: 0;
        color: #b2b9be;
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 0 20px;

        li {
            list-style-type: none;

            + li  {
                margin-top: 6px;
            }

            a {
                color: inherit;

                i {
                    margin-right: 20px;
                    width: 16px;
                    text-align: center;
                }
            }
        }
    }

    .collapse {
        + .collapse {
            margin-top: 50px;
        }
    }

    .sidebar-footer-search {
        margin-top: 25px;
    }
}
