table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    tr {
        @include last-child() {
            td {
                border-bottom: none;
            }
        }
    }

    td,
    th {
        border-left: none;
        border-right: none;
        border-top: none;
        vertical-align: top;
        padding: 11px 15px;
        font-weight: 800;
        text-align: left;
        border-bottom: 1px solid $table-border-color;

        @include last-child() {
            padding-right: 0;
        }

        @include first-child() {
            padding-left: 0;
        }
    }

    th {
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: var(--theme-color);
    }
}
