.grid,
.grid__item {
    &.nowrap {
        flex-wrap: nowrap;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.gutter-bottom {
    margin-bottom: $main-gutter;

    &-inset {
        padding-bottom: $main-gutter;
    }
}

.gutter-top {
    margin-top: $main-gutter;

    &-inset {
        padding-top: $main-gutter;
    }
}

.gutter-left {
    margin-left: $main-gutter;

    &-inset {
        padding-left: $main-gutter;
    }
}

.gutter-right {
    margin-right: $main-gutter;

    &-inset {
        padding-right: $main-gutter;
    }
}

.column {
    @at-root {
        .grid > &.grid__item  {
            display: flex;
            flex-direction: column;
        }
    }

    & {
        display: flex;
        flex-direction: column;
    }
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.scrollable {
    overflow-y: auto;
}

.flex-1 {
    flex: 1;
}

.flex-right {
    margin-left: auto;
}

.flex-left {
    margin-right: auto;
}

.flex-top {
    margin-bottom: auto;
}

.flex-bottom {
    margin-top: auto;
}
