//Colors
$primary-bg-color: #f5f5f5;
$secondary-bg-color: #fff;
$active-item-color: #d2e9ff;
$primary-font-color: #282828;
$secondary-font-color: #f5f5f5;
$dashboard-main-color: #3a7cec;
$customer-main-color: #ffa33e;
$theme-color: $dashboard-main-color !default;


//Box
$box-bg-color: $secondary-bg-color;


//Alerts
$alert-success: #21e265;
$alert-close-color: #fff;


//Buttons
$button-active-font-color: $secondary-bg-color;
$button-bg-color: $secondary-bg-color;


//Forms
$form-placeholder-font-color: #b2b9be;


//Header
$site-header-height: 30px;


//Tables
$table-border-color: #f5f5f5;


//Fonts
$fa-font-path: '../fonts/Font-Awesome/';
$main-font: 'Avenir', sans-serif;
$base-font-size: 14px;


//Sidebar
$sidebar-width: 298px;


//Shadow
$main-shadow: 1px 2px 8px 1px #eef0f3;


//Gutter
$main-gutter: 20px;


//Hamburger
$hamburger-color: #fff;
$hamburger-size: 16px;


//Radial progress
$circle-size: 130px;
